
.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github-square:hover{
    color: #000000;
}

.fa-instagram:hover{
    color: #c13584;
}

.fa-linkedin-square:hover{
    color: #0072b1;
}