<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6">
            <div class="row d-flex align-items-center vh-100">
                <div class="col-md-10">
                    <h2>Cadastre-se</h2>

                    <form>
                        <div class="form-group">
                        <label for="">Digite seu nome</label>
                        <input type="text" class="form-control" placeholder="Nome">
                        </div>

                        <div class="form-group">
                            <label for="">Digite seu E-mail</label>
                            <input type="text" class="form-control" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <label for="">Digite sua senha</label>
                                <input type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="">Confirme sua senha</label>
                                    <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label for="">Link da Foto</label>
                                        <input type="text" class="form-control" placeholder="URL da foto">
                                        </div>
                
                            <div class="form-group">
                                <label for="">Selecione o tipo de usuário</label>
                                <select name="" id="" class="form-control">
                                    <option value="">Selecione o tipo de usuário</option>
                                    <option value="">Administrador</option>
                                    <option value="">Usuário</option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-around">
                                <button class="btn btn-danger w-25">Cancelar</button>
                                <button class="btn btn-outline-info w-25">Cadastrar</button>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>