#img-bg{
    background-image: url("https://i.pinimg.com/originals/a1/98/2a/a1982a6d9403b78303ee5fb3b15123e2.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}